<% content_for :subtitle do %><%= t 'page.about' %><% end %>

<% content_for :help_sidebar do %>
<% end %>

<h1>About the author</h1>
<p>
This site was conceived by Igor Sales (me, the author) with the help of my family while
travelling around 
<%= link_to 'Argentina', 'http://www.turismo.gov.ar/eng/menu.htm' -%>
. We had spent some fantastic few days enjoying the sierras of 
<%= link_to 'Córdoba', 'http://www.welcomeargentina.com/cordoba/index_i.html' %>
(in the city of 
<%= link_to 'La Falda', 'http://www.lafalda.gov.ar/' -%>
)
, and on the way back we were trying to settle the expenses in
the car. Needless to say, listing the expenses, and trying to figure out how much we owed
each other was difficult enough. Moreover, some people were exempt of certain expenses
(e.g. it was their birthday), and some of us were in couples (so the
couple pays as one, but counts as two). Then "Cuentas Claras" was 
born, and after coming back to Canada, English-speaking friends suggested "Expense Pad".
I hope you enjoy this web app.</p>
<p>
This service is available free of charge, but if you feel like contributing, please 
consider making a donation. Use the PayPal donate link on the bottom right corner of the
page.</p>

Cheers,<br/>
Igor
<br><br/>

<h1>Acknowledgements</h1>
<i>In no particular order.</i>
<ul>
  <li><%= link_to 'TeamCamp', 'http://teamcamp.pbwiki.com' %></li>
  <li><%= link_to 'TheCodeFactory', 'http://thecodefactory.ca' %></li>
  <li><%= link_to 'The Ruby on Rails community', 'http://rubyonrails.org' %></li>
  <li><%= link_to 'IconFinder', 'http://iconfinder.net' %>, 
      <%= link_to 'YellowIcon', 'http://yellowicon.com' %>,
      <%= link_to 'Everaldo Coelho', 'http://everaldo.com' %></li>
  <li><%= link_to 'RapidWeaver', 'http://www.realmacsoftware.com/rapidweaver/' %></li>
  <li><%= link_to 'Google', 'http://google.com' %></li>
  <li>Sam, for the awesome English website name suggestion.</li>
  <li>My family, for always having trouble settling expenses...</li>
</ul>
