<li><%= link_to t('breadcrumb.bills'), bills_path %></li>
<li><%= link_to t('action.add_bill'), new_bill_url %></li>
<li><%= link_to t('page.about'), about_url %></li>
<li><%= link_to t('action.contact_us'), contactus_url %></li>
<li><%= link_to t('action.logout'), logout_url %></li>
