<% content_for :subtitle do %><%= t 'action.edit_bill' %> "<%=h @bill.name %>"<% end %>

<% form_for @bill do |f| %>
  <table>
    <tbody>
	  <tr class="odd">
	    <td><%= t 'table_hdr.name' %>:</td>
		<td><%= f.text_field :name %></td>
	  </tr>
	  <tr class="even">
	    <td><%= t 'table_hdr.descr' %>:</td>
		<td><%= f.text_field :description %></td>
	  </tr>
	</tbody>
  </table>
	
  <br/>
  <%= f.submit t('action.update') %>
<% end %>