<% content_for :subtitle do %><%= t 'title.bills' %><% end %>

<% content_for :help_sidebar do %>
  <%= t('help.add_bill', :image => add_image_tag ) %><br/><br/>
  <%= t('help.edit_bill', :image => edit_image_tag ) %><br/><br/>
  <%= t('help.delete_bill', :image => delete_image_tag ) %><br/><br/>
  <%= t('help.visitor_permalink', :image => link_image_tag ) %><br/><br/-->
<% end %>

<h3><%= t 'welcome.paragraph' %></h3>

<br/>

<table>
  <thead>
    <tr>
	  <th><%= t 'table_hdr.name' %></th>
	  <th><%= t 'table_hdr.descr' %></th>
	  <th><%= t 'table_hdr.actions' %></th>
	</tr>
  </thead>
<tbody>
  <% for bill in @bills %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%= link_to bill.name, bill_bill_items_url(bill) %></td>
      <td><%=h bill.description %></td>
	  <td>
	    <%= link_to edit_image_tag, edit_bill_url(bill) %>
		<%= link_to delete_image_tag, bill_url(bill), :method => :delete %>
  	    <%= link_to link_image_tag, permalink_url(bill.permalink) %>
	  </td>
    </tr>
  <% end %>
  <tr class="<%= cycle('odd','even') %>">
    <td colspan="3"><%= link_to add_image_tag + t('action.add_bill'), new_bill_url %></td>
  </tr>
</tbody>
</table>
<br/>
<%= link_to link_image_tag, visitor_permalink_url(visitor.permalink) %>
<%= t 'visitor.permalink.paragraph' %>
