<% content_for :subtitle do %><%= t 'action.add_bill' %><% end %>

<% form_for Bill.new do |f| %>
  <table>
    <tbody>
      <tr>
	    <td><%= t 'table_hdr.bill_name' %>:</td>
		<td><%= f.text_field :name %></td>
	  </tr>
	  <tr>
	    <td><%= t 'table_hdr.descr' %>:</td>
		<td><%= f.text_field :description %></td>
	  </tr>
	</tbody>
  </table>
  
  <br/>
  <%= f.submit t('action.create') %>
<% end %>