<% content_for :subtitle do %>
<%= t 'title.bill_items' %>
<% end %>

<% content_for :help_sidebar do %>
  <%= t 'help.add_bill_item', :image => add_image_tag %><br/><br/>
  <%= t 'help.add_bill_participant', :image => add_image_tag %><br/><br/>
  <%= t 'help.delete_bill_item', :image => delete_image_tag %><br/><br/>
  <%= t 'help.edit_bill_participant', :image => edit_image_tag %><br/><br/>
  <%= t 'help.delete_bill_participant', :image => delete_image_tag %><br/><br/>
  <%= t 'help.edit_bill_properties', :image => edit_image_tag %><br/><br/>
  <%= t 'help.edit_bill_payment' %><br/><br/>
<% end %>

<table>
  <caption><%= link_to link_image_tag, permalink_url(@bill.permalink) %> <%=h @bill.name %></caption>
  <thead>
    <tr>
	  <th class="bill_item_th_text" rowspan="2"><%= t 'table_hdr.date' %></th>
	  <th class="bill_item_th_text" rowspan="2"><%= t 'table_hdr.descr' %></th>
      <% if @bill_participants.empty? %>
        <td class="empty_table" rowspan="2"><%= t('msg.bill_no_participants') %></td>
      <% end %>
	  <% @bill_participants.each do |participant| %>
	    <th class="bill_item_th_toolbar">
		  <%= link_to edit_image_tag, edit_bill_bill_participant_url(@bill, participant) %>
		  <%= link_to delete_image_tag, bill_bill_participant_url(@bill, participant), :method => :delete, :controller => 'bill_participants' %>
		</th>
	  <% end %>
	  <th><%= link_to edit_image_tag, edit_bill_url(@bill) %></th>
	</tr>
	<tr>
	  <% @bill_participants.each do |participant| %>
		<th class="bill_item_th_text">
		  <%=h participant.name %> (<%=h participant.party_size %>)
		</th>
	  <% end %>
	  <th>
	    <div class="bill_item_th_toolbar">
		  <%= link_to add_image_tag, new_bill_bill_participant_url(@bill) %>
		</div>
	  </th>
	</tr>
  </thead>
  <tbody>
    <% if @bill_items.empty? %>
      <tr>
        <td class="empty_table" colspan="<%= 3+[1,@bill_participants.size].max %>"><%= t('msg.bill_no_items') %></td>
      </tr>
    <% end %>
	<% for item in @bill_items do %>
	  <tr class="<%= cycle('odd','even') %>">
        <td>
    	  <% remote_form_for [@bill, item] do |f| %>
            <%= calendar_date_select_tag 'bill_item[date]', item.date, :hidden => false, :onchange => 'this.form.submit();', :size => 10 %>
          <% end %>
        </td>
        <td>
    	  <% remote_form_for [@bill, item] do |f| %>
            <%= f.text_field :name, :size => 15, :onblur => 'this.form.onsubmit();' %>
		  <% end %>
        </td>
        <% if @bill_participants.empty? %>
          <td></td>
        <% end %>
	    <% for participant in @bill_participants do %>
          <td class="bill_payment_value_cell">
		    <% form_remote_tag :url => bill_payment_url(item.id, participant.id), :html => { :id => bill_item_payment_id(item,participant) } do %>
		      <%  value = value_of_bill_item_by_participant(item, participant) %>
			  <%= text_field_tag :value, number_to_currency(value, :unit=>''), :size => 7, :class => 'bill_payment_value_cell', :onblur => 'this.form.onsubmit();' %><br/>
              <%= check_box_tag  :exempt, "1", is_participant_exempt_of_bill_item(participant,item), :onchange => 'this.form.onsubmit();' %> <%= t('table_hdr.exempt') %>
              <%= hidden_field_tag :exempt, "0" %>
		    <% end %>
  		  </td>
		<% end %>
		<td>
		  <%= link_to delete_image_tag, bill_bill_item_url(@bill, item), :method => :delete, :controller => 'bill_items' %>
		</td>
	  </tr>
	<% end %>
	<tr class="<%= cycle('odd','even') %>">
	  <td colspan="<%= 3+[1,@bill_participants.size].max %>">
	    <%= link_to add_image_tag + t('action.add_bill_item'), new_bill_bill_item_url(@bill) %>
	  </td>
	</tr>
	<tr class="<%= cycle('odd','even') %>" id="bill_totals">
      <%= render :partial => 'bill_items/bill_totals' %>
	</tr>
  </tbody>
</table>

<br/>

<div id="who_owes_who">
  <%= render :partial => 'bill_items/who_owes_who' %>
</div>

<br/>

<% if @should_ask_to_add_bill_to_current_visitors_list %>
  <%= link_to add_image_tag + t( 'action.add_bill_to_visitors' ), bill_add_visitor_url(@bill) %>
<% end %>