<% content_for :subtitle do %>
<%= t 'action.add_bill_participant' %>
<% end %>


<% form_for [@bill,BillParticipant.new] do |f| %><!--, :url => new_bill_bill_participant_url(@bill,BillParticipant.new) do |f| % -->

  <table>
    <tbody>
      <tr class="odd"><td><%= t 'table_hdr.name' %>:</td><td><%= f.text_field :name %></td></tr>
      <tr class="even"><td><%= t 'table_hdr.party_size' %>:</td><td><%= f.select :party_size, party_size_array %></td></tr>
    </tbody>
  </table>
  <br/>
  <%= f.submit t 'action.create' %>
<% end %>
