<% content_for :subtitle do %><%= t 'page.about' %><% end %>

<% content_for :help_sidebar do %>
<% end %>

<h1>Quem somos</h1>
<p>
Este sítio web for concebido por Igor Sales (eu, of autor) com a ajuda de minha família
durante uma viagem pela
<%= link_to 'Argentina', 'http://www.turismo.gov.ar/eng/menu.htm' -%>
. Depois de um maravilhoso fim de semana nas serras de  
<%= link_to 'Córdoba', 'http://www.welcomeargentina.com/cordoba/index_i.html' %>
(mais precisamente na cidade
<%= link_to 'La Falda', 'http://www.lafalda.gov.ar/' -%>), 
na volta da viagem, estavamos tentando resolver quem devia dinheiro a quem das despesas
do fim de semana. Fazer uma lista das despesas, e fazer as contas para descobrir quanto
cada um devia ao outro já estava ficando difícil. Para complicar, um estava isento de
certas despesas (era seu aniversário), enquantro outros estavam em casal (tem-se que contar
os dois do casal, mas o pagamento é unico). Foi assim que nasceu "Cuentas Claras", e depois
estando de volta ao Canadá, um amigo anglofono sugeriu o nome "Expense Pad". Desejamos
que aproveitem este aplicativo web tanto quanto nós.</p>
<p>
Este serviço é disponibilizado gratuitamente, portanto sinta-se a vontade de contribuir usando
link "Donate" do PayPal localizado na parte inferior da barra de menu do lado direito da
página.
</p>

Um abraço,<br/>
Igor.
<br><br/>

<h1>Agradecimentos</h1>
<i>Sem nenhuma order particular.</i>
<ul>
  <li><%= link_to 'TeamCamp', 'http://teamcamp.pbwiki.com' %></li>
  <li><%= link_to 'TheCodeFactory', 'http://thecodefactory.ca' %></li>
  <li><%= link_to 'Comunidade Ruby on Rails', 'http://rubyonrails.org' %></li>
  <li><%= link_to 'IconFinder', 'http://iconfinder.net' %>, 
      <%= link_to 'YellowIcon', 'http://yellowicon.com' %>,
      <%= link_to 'Everaldo Coelho', 'http://everaldo.com' %></li>
  <li><%= link_to 'RapidWeaver', 'http://www.realmacsoftware.com/rapidweaver/' %></li>
  <li><%= link_to 'Google', 'http://google.com' %></li>
  <li>Sam, pela genial sugestão do nome em Inglês.</li>
  <li>Minha familia, por sempre ter trabalho em coordenar divisão de gastos...</li>
</ul>
