<% content_for :subtitle do %><%= t 'page.tutorial' %><% end %>

<% content_for :help_sidebar do %>
<% end %>

<h1>Prefácio</h1>
Você e um punhado de amigos foram acampar este verão.
<ul>
  <li>Ana e Bruno fizeram uma feira de $123,75</li>
  <li>Helena e Hugo locaram o acampamento por $86,34</li>
  <li>Tadeu comprou a lenha por $15,00</li>
  <li>As gemêas Lisa & Cláudia alugaram as canos: $74,88</li>
  <li>Você trouxe o bolo de aniversário ($23,99) das gemêas</li>
</ul> 
<p>Como se dividem estes gastos facilmente?</p>

<h1>1. Crie uma conta</h1>

<ul>
  <li>Clique em minhas contas, na parte superior-direita do menu.<br/><%= tut_image_tag(0) %></li>
  <li>Clique em "Adicionar nova conta"<br/><%= tut_image_tag(1) %></li>
  <li>Digite "Acampamento" como nome e "Verão - Aniversário das gemêas" na Descrição<br/><%= tut_image_tag(2) %></li>
  <li>Clique no botão "Criar". A conta é criada vazia (sem participantes, sem despesas, sem pagamentos), como abaixo.<br/><%= tut_image_tag(3) %></li>
</ul>

<h1>2. Adicione participantes</h1>

<ul>
  <li>Clique em <%= add_image_tag %> para adicionar participantes.<br/><%= tut_image_tag(4) %></li>
  <li>Digite "Eu" ou seu próprio nome, e "1" como número de participantes.<br/><%= tut_image_tag(5) %></li>
  <li>Clique no botão "Criar" para adicionar o participante à conta.<br/><%= tut_image_tag(6) %></li>
  <li>Repita esse procedimento para cada pessoa, casal, ou grupo do acampamento.<br/><%= tut_image_tag(7) %><br/></li>
  <li>A conta agora tem todos os participantes listados. Você está pronto para adicionar despesas e pagamentos.<%= tut_image_tag(10) %></li>
</ul>

<h1>3. Cadastre os gastos</h1>

<ul>
  <li>Clique em "Nova despesa".<br/><%= tut_image_tag(11) %></li>
  <li>Digite "Feira" no campo de Descrição.<br/><%= tut_image_tag(12) %></li>
  <li>Digite "123,75" na coluna correspondente à "Ana & Bruno".<br/><%= tut_image_tag(13) %></li>
  <li>Repita esse procedimento para todas as outras despesas.<br/><%= tut_image_tag(14) %></li>
  <li>Tique a caixa de isenção de "Lisa & Cláudia" (elas não deveriam pagar pelo próprio bolo de aniversário!).<br/><%= tut_image_tag(15) %></li>
</ul>

<h1>Os resultados</h1>

<p>Veja os resultados na tabela "Quem deve o que a quem?" para ver quanto e a quem deve cada um!</p>
<p>Expense Pad automaticamente minimiza os pagamentos entre participantes!</p>
<%= tut_image_tag(16) %>
<p>Você pode ver que "Eu" e "Tadeu" devem pagar aos outros, por que contribuiram pouco.</p>

<h1>O que mais?</h1>

<ul>
  <li>Cada participante pode fazer parte de várias despesas, cada uma com diferentes quantias.</li>
  <li>Digite uma quantia em uma célula, e clique fora da célula, ou em outra célula, para que 
      a tabela "Quem deve o que a quem?" seja atualizada automaticamente.</li>
  <li>Re-ordene as despesas por data, usando o ícone de calendário.</li>
  <li>Veja os totais gastos por cada participante.</li>
  <li>Distribua sua contas com outras pessoas enviando-lhes o permalink (o link do ícone 
      <%= link_image_tag %>).</li>
</ul>