<% content_for :subtitle do %><%= t 'page.about' %><% end %>

<% content_for :help_sidebar do %>
  <%= t('help.add_bill', :image => add_image_tag ) %><br/><br/>
  <%= t('help.edit_bill', :image => edit_image_tag ) %><br/><br/>
  <%= t('help.delete_bill', :image => delete_image_tag ) %><br/><br/>
  <%= t('help.visitor_permalink', :image => link_image_tag ) %><br/><br/-->
<% end %>

<h3><%= t 'about.who_we_are' %></h3>

<h3><%= t 'about.what_we_do' %></h3>

<h3><%= t 'about.where_we_are' %></h3>


