<% content_for :subtitle do %><%= t 'page.about' %><% end %>

<% content_for :help_sidebar do %>
<% end %>

<h1>Sobre el autor</h1>
<p>
Este sitio fue diseñado por Igor Sales (yo, el autor) con la ayuda de mi familia mientras estaba de viaje por 
<%= link_to 'Argentina', 'http://www.turismo.gov.ar/eng/menu.htm' -%>
. Habíamos pasado unos días espectaculares en las sierras de 
<%= link_to 'Córdoba', 'http://www.welcomeargentina.com/cordoba/index_i.html' %>
(en la ciudad de 
<%= link_to 'La Falda', 'http://www.lafalda.gov.ar/' -%>
)
y a la vuelta estábamos tratando de dividir los gastos en el auto. Nos dimos cuenta de que hacer la lista de gastos y calcular 
cuánto cada uno le debía a los otros no es tarea fácil. Además, algunas personas no tenían que pagar determinados gastos (porque era el cumpleaños)
y otras estábamos en parejas (que paga como una parte pero suma los gastos de dos personas).
Así fue como nació "Cuentas Claras" que, al regreso a Canadá, se convirtió en "Expense Pad" gracias a la sugerencia de amigos anglohablantes.
Espero que les guste esta aplicación web.</p>
<p>
Este servicio está disponible sin cargo, pero si lo desearan, pueden hacer una contribución. Usen el enlace de PayPal 'Donate' ubicado en la esquina inferior 
derecha de la página.</p>

Igor
<br><br/>

<h1>Agradecimientos</h1>
<i>Sin orden de preferencia.</i>
<ul>
  <li><%= link_to 'TeamCamp', 'http://teamcamp.pbwiki.com' %></li>
  <li><%= link_to 'TheCodeFactory', 'http://thecodefactory.ca' %></li>
  <li><%= link_to 'The Ruby on Rails community', 'http://rubyonrails.org' %></li>
  <li><%= link_to 'IconFinder', 'http://iconfinder.net' %>, 
      <%= link_to 'YellowIcon', 'http://yellowicon.com' %>,
      <%= link_to 'Everaldo Coelho', 'http://everaldo.com' %></li>
  <li><%= link_to 'RapidWeaver', 'http://www.realmacsoftware.com/rapidweaver/' %></li>
  <li><%= link_to 'Google', 'http://google.com' %></li>
  <li>A Sam, por el excelente nombre en inglés que me sugirió para el sitio.</li>
  <li>A mi familia, por complicarse para dividir los gastos...</li>
</ul>
